* {
    font-family: 'Rubik', sans-serif;
    -webkit-font-smoothing: antialiased;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
    scroll-behavior: smooth;
    scroll-padding-top: 2rem;
}

:root {
    --bg-color: #131319;
    --main-color:#192c70;
    --2nd-main-color: #306daacc;
    --text-color: #fff;
    --big-font: 5rem;
    --p-font:1rem;
    --h2-font:1.9rem
}

body{
    background-color: var(--bg-color);
    color: var(--text-color);
}

header{
    position: fixed;
    width: 100%;
    top: 0;
    right: 0;
    z-index: 1000;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: var(--bg-color);
    padding: 24px 14px;
    transition: .3s;
}

.logo{
    color: var(--text-color);
    font-size: 1.8rem;
    font-weight: 600;
}

span {
    color: var(--main-color);
}

.navbar {
    display: flex;
}

.navbar a {
    color: var(--text-color);
    font-size: 1rem;
    padding: 10px 20px;
    font-weight: 500;
}

.navbar a:hover {
    background-color: var(--2nd-main-color);
    transition: .3s;
}

#menu-icon{
    font-size: 28px;
    z-index: 10001;
    cursor: pointer;
    display: none;
}

section{
    padding: 120px 140px;
}


.home {
    position: relative;
    height: 100vh;
    width:  100%;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 6rem;
    align-items: center;

}

.home-img img{
    max-width: 100%;
    width: 450px;
    height: auto;
    border-radius: 900px;
    border-image: round;
}

.home-text h5{
    color: var(--text-color);
    font-size: 25px;
    font-weight: 500;
    margin: 0 0 20px;
}

.home-text h1 {
    font-size: var(--big-font);
    color: var(--text-color);
    font-weight: 700;
    line-height: 1;
    margin: 0 0 20px;
}

.home-text h6{
    color: var(--text-color);
    font-size: 18px;
    font-weight: 500;
    margin-bottom: 25px;
}

.home-text p{
    max-width: 470px;
    font-size: var(--p-font);
    font-weight: 300;
    line-height: 2rem;
    margin-bottom: 1.5rem;
    color: var(--2nd-main-color);
}

.btn{
    background: var(--text-color);
    color: var(--main-color);
    box-shadow: 4px 4px var(--main-color);
    padding: 0 25px;
    line-height: 42px;
    display: inline-block;
    border: 1px solid transparent;
    font-size: 14px;
    font-weight: 400;
    letter-spacing: 2px;
    transition: ease all .35s;
}

.btn:hover{
    background: var(--main-color);
    color: var(--text-color);
    box-shadow: 4px 4px var(--text-color);
}

.btn-pro{
    background: var(--main-color);
    color: var(--text-color);
    box-shadow: 4px 4px var(--text-color);
    padding: 0px 25px;
    margin-left: 20px;
    line-height: 42px;
    display: inline-block;
    border: 1px solid transparent;
    font-size: 14px;
    font-weight: 400;
    letter-spacing: 2px;
    transition: ease all .35s;
}

.btn-pro:hover{
    background: var(--text-color);
    color: var(--main-color);
    box-shadow: 4px 4px var(--main-color);
}

.about{
    display: grid;
    grid-template-columns: repeat(2, 2fr);
    grid-gap: 5rem;
    align-items: center;

}

.about-img img{
    max-width: 100%;
    width: 480px;
    height: auto;
}

.about-text h3{
    color:var(--text-color);
    font-size: 30px;
    font-weight: 300;
    letter-spacing: 6px;
    margin: 0 0 30px;
}

.about-text h2{
    margin-bottom: 0.5rem;
    font-weight: 350;
    font-size: var(--h2-font);
    line-height: 1.2;
    max-width: 470px;
    margin-bottom: 2rem;
}

.about-text p{
    max-width: 570px;
    font-size: var(--p-font);
    font-weight: 300;
    line-height: 1.5rem;
    margin-bottom: 1.8rem;
    color: var(--2nd-main-color);
}


/* For future purpose */
/* .count{
    margin-bottom: 2rem;
}
.about-text .count a{
    color: var(--2nd-main-color);
    margin-right: 20px;
    word-spacing: 5px;
}

.count span {
    color: var(--text-color);
    font-size: 2.7rem;
    font-weight: 600;
} */


.main-btn .btn {
    margin-right: 20px;
}

.center {
    text-align: center;
}

.center h3 {
    color: var(--text-color);
    font-size: 20px;
    font-weight: 300;
    letter-spacing: 6px;
}


.service-content{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(350px, auto));
    grid-gap:2rem;
    align-items: center;
    margin-top: 4.4rem;
}

.row {
    background: #141417;
    padding: 60px 35px;
    border-radius: 5px;
    cursor: pointer;
    transition: all .40s;
}

.row i {
    color: var(--main-color);
    font-size: 3rem;
    margin-bottom: 20px;
}

.row h3{
     font-size: 1.25rem;
     font-weight: 500;
     margin-bottom: 20px;
     color: var(--text-color);
}

.row p {
    font-size: 18px;
    color: var(--2nd-main-color);
    line-height: 30px;
}

.row:hover{
    transform: translateY(-15px);
    box-shadow: 0px 15px 30px 0px rgb(0 0 0 /80%);
}

.cta {
    text-align: center;
    background: #0b0b13;
    width: 100%;
    margin: 100px auto;
    padding: 150px 0;

}

.cta h4 {
    color: var(--text-color);
    padding: 30px 3%;
    font-size: 1.3rem;
    font-weight: 300;
    margin-bottom: 30px;
}

.cta h2{
    color: var(--main-color);
    font-size: 3rem;
    font-weight: 300;
    margin-bottom: 20px;
}

.contact-form{
    display: inline;
    align-items: center;
    /* justify-content: center; */
    margin-top: 2.3rem;
    margin-bottom: 2rem;
    padding: 20px;
}
.contact-form i {
    align-items: center;
    color: var(--main-color);
    font-size: 4rem;
}

.contact-form h5{
    color: #525255;
    margin-top: 4px;
    margin-bottom: 20px;
    font-size: 30px;
    font-weight: 200;
}

.cta-contact {
    display: inline-block;
    align-items: center;
    margin-left: 1.2rem;
    margin-right: 2rem;
    
}

.cta-contact i{
    font-size: 4rem;
    color: var(--main-color);
}
.cta-contact:hover{
    transform: scale(1.3);
    transition: .3s;
}

/* .cta-contact a {
    text-decoration: none;
} */

.resume-content {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(400px, auto));
    grid-gap:4rem;
    align-items: center;
    margin-top: 4.4rem;
}

.box {
    background: #16161a;
    padding: 40px 30px;
    border-radius: 5px;
    cursor: pointer;
    transition: all .40s;
}

.box h6 {
    color: rgb(113, 110, 110);
    font-size: 1.3rem;
    font-weight: 400;
    margin-top: 25px;
    margin-bottom: 30px;

}

.box h4 {
    color: var(--text-color);
    font-size: 1.3rem;
    font-weight: 500;
    margin-top: 25px;
    margin-bottom: 13px;
}

.box:hover{
    transform: translateY(-15px);
    box-shadow: 0px 15px 30px 0px rgba(12, 2, 2, 0.8);
}

.box p {
    font-size: 18px;
    margin-bottom: 1.2rem;
    font-size: var(--p-font);
    color: var(--2nd-main-color);
    line-height: 30px;
}

.box-project{
    background: #16161a;
    margin-top: 50px;
    padding: 40px 30px;
    border-radius: 5px;
    cursor: pointer;
    transition: all .40s;
}

.box-project h6 {
    color: rgb(113, 110, 110);
    font-size: 1.3rem;
    font-weight: 400;
    margin-top: 25px;
    margin-bottom: 30px;

}

.box-project h4 {
    color: var(--text-color);
    font-size: 1.3rem;
    font-weight: 500;
    margin-top: 25px;
    margin-bottom: 13px;
}

.footer{
    padding: 30px;
    width: 100%;
    align-items: center;
    background: #0b0b13;
}

.footer h6{
    text-align: center;
    font-weight: 200;
    font-size: 1.2rem;
    color: var(--text-color);
}


/* responsiveness */

@media (max-width:1430px) {
    header {
        padding: 25px 3%;
    }

    section {
        padding: 100px 3%;
    }

    .btn{
        margin: 12px;
    }
    .btn-pro{
        margin: 12px;
    }

    :root{
        --big-font: 4rem;
        --h2-font:1.2rem;
    }
    .cta-contact i{
        font-size: 4rem;
        color: var(--main-color);
    }
}

@media (max-width:1020px){
    .home {
        height: 100vh;
    }
    /* .btn{
        margin: 8px;
    }
    .btn-pro{
        margin: 8px;
    } */
    .cta-contact i{
        font-size: 3rem;
        color: var(--main-color);
    }
    :root{
        --big-font: 3rem;
        --p-font:1.2rem;
        --p-font:0.9rem
    }


}

@media (max-width:830px){
    header{
        padding: 18px 3%;
    }
    .home {
        height: 120vh;
    }

    #menu-icon{
        display: block;
    }

    .navbar{
        position: absolute;
        top: -600%;
        left: 0;
        right: 0;
        display: flex;
        flex-direction: column;
        text-align: left;
        background: #0b0b13;
        box-shadow: 0px 15px 30px 0px rgba(51 45 58/ 80%);
        transition: 0.2s ease;
    }

    .navbar a {
        padding: 1rem;
        display: block;
        border-left: 2px solid var(--main-color);
        margin: 0.8rem;

    }

    .navbar.active{
        top: 100%;
    }
}


@media (max-width:795px){
    .home{
        grid-template-columns: 1fr;
        grid-gap: 1rem;
        text-align: center;
        margin-top: 80px;
        height: 100vh;

    }

    .home-img img{
        max-width: 100%;
        width: 350px;
        margin-top: 8%;
        height: auto;
    }
    .home-text p{
        max-width: 100%;
    }
    .about{
        grid-template-columns: 1fr;
        /* grid-gap: 1rem; */
        text-align: center;
        margin-top: 50%;
        
    }
    .about-text h3{
        max-width: 100%;
    }
    .about-text h2{
        max-width: 100%;
    }

    .about-text p{
        max-width: 100%;
    }
    .about-img{
        order: 2;

    }

    .cta-contact i{
        font-size: 2rem;
        color: var(--main-color);
    }

    .contact-form i {
        align-items: center;
        color: var(--main-color);
        font-size: 4rem;
    }
    
    .contact-form h5{
        color: #525255;
        margin-top: 4px;
        margin-bottom: 20px;
        font-size: 20px;
        font-weight: 200;
    }
}



